/* (A) FONT + PAGE LAYOUT */
* {
  font-family: arial, sans-serif;
}
div, form, input {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  align-items: stretch;
}
#userLeft, #userRight {
  overflow: auto;
}
#userLeft {
  min-width: 200px;
  background: #f1f1f1;
}
#userRight {
  flex-grow: 1;
}

/* (B) LEFT : USERS LIST */
/* (B1) CURRENT USER */
#userNow {
  font-weight: 700;
  padding: 10px;
  color: #fff;
  background: #000;
}

/* (B2) USERS */
.userRow {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.userRow:hover {
  cursor: pointer;
  background: #ddd;
}
.userRow.now {
  background: #fbff00;
  font-weight: 700;
}
.userUR {
  text-decoration: none;
  display: inline-block;
  background: #a90101;
  color: #fff;
  padding: 5px;
}

/* (C) RIGHT : MESSAGES */
/* (C1) SEND MESSAGE FORM */
#userSend {
  display: none;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #eee;
}
#userSend input {
  padding: 8px;
}
#userSend input[type=text] {
  width: 100%;
  border: 0;
}
#userSend input[type=submit] {
  background: #a90101;
  color: #fff;
  font-weight: 700;
  border: 0;
}

/* (C2) MESSAGES */
#userMsg {}
.mout, .min {
  padding: 10px;
  margin: 10px;
}
.mout {
  background: #deedff;
}
.min {
  text-align: right;
  background: #fff1f1;
}
.mdate {
  font-size: 0.9em;
  color: #878787;
}
.mtxt {
  padding: 5px 0;
}
